[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rPraat"]
	path = rPraat
	url = https://github.com/bbtomas/rpraat
	shallow = true
	registered = true
